<%= form_for([@article, @article.comments.build], :html => {:class => 'form-group'}) do |f| %>	
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>			
	<p>
		<%= f.submit 'Send', :class => 'btn btn-primary' %> <%= link_to 'Back', articles_path, 
            { :class=>"btn btn-default" }  %> 
	</p>
<% end %>

